*
!.gitignore
!.config/
!.config/**
!.local/
!.local/scripts/**
!.github/
!.github/**
!.hammerspoon/
!.hammerspoon/**
!docker-images/
!docker-images/**
!.dsh-context/
!.dsh-context/**
!.env
!.profile
!README.md
!dotfiles
!client-config.json
*.env.local
*.env.*
.config/zsh/personal_aliases
.config/zsh/secrets/
docker-images/**/secrets/
docker-images/**/cloudflared/
docker-images/**/.dsh-context/

# sensitive — do not expose
/client-config.json
/.local/scripts/generic/find-best-mtu
/docker-images/dsh/docker-compose.yml
/docker-images/dsh/Makefile
